<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <div class="top">
      <div>
        <div class="bold">{{senderName}}</div>
        <div class="pre">{{senderDetails}}</div>
      </div>
      <div class="right">
        <h1>Invoice</h1>
        <div>#: {{invoiceNumber}}</div>
        <div>Date: {{invoiceDate}}</div>
      </div>
    </div>

    <div class="billto">
      <div class="label">Bill To</div>
      <div class="bold">{{clientName}}</div>
      <div class="pre">{{clientDetails}}</div>
    </div>

    <table class="items">
      <thead>
        <tr>
          <th>Description</th>
          <th class="num">Qty</th>
          <th class="num">Unit ({{currency}})</th>
          <th class="num">Amount ({{currency}})</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
          <tr>
            <td class="pre">{{description}}</td>
            <td class="num">{{quantity}}</td>
            <td class="num">{{fmtCurrency unitPrice}}</td>
            <td class="num">{{fmtCurrency amountNzd}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="total">
      <div class="label">Total amount due:</div>
      <div class="amount">{{currency}} {{fmtCurrency totalNzd}}</div>
    </div>

    {{#if notes}}
      <div class="notes">
        <div class="label">Notes</div>
        <div class="pre">{{notes}}</div>
      </div>
    {{/if}}
  </body>
</html>
